[Desktop Entry]
Name=Holyrics
Comment=Software de projeção para Igrejas
Exec=/opt/holyrics/AppRun
Icon=multimedia-player
Terminal=false
Type=Application
Categories=AudioVideo;Presentation;Religion;
